<%- include('head', { title: 'Server Home Page', servers: servers }) -%>

<div class="row">
    <div class="side">
        <center>
        <h2>The Prophecy Unfolds:</h2>
        <img src="https://i.imgur.com/1kSXnmw.jpg" height="200">
        <p>The Minecraft server for those who are comfy :)</p>
        <p>and who wear socks >:)</p>
        <img src="https://i.imgur.com/RjkA7BR.jpg" height="200">
        <p>i was told about a cat named socks so i had to add him</p>
        </center>
    </div>
    <div class="main">
        <p>slay</p>
    </div>
</div>
  


<%- include('foot') -%>
